<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1000/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>

<body>
	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<h1>Voici vos Candidatures </h1>

		<table class="table">
			<thead>
				<div class="row">
					<div class="col">
						<th text="Concours"></th>
					</div>
					<div class="col">
						<th text="Concours">Concours</th>
					</div>
					<div class="col">
						<th text="Date">Date</th>
					</div>
					<div class="col">
						<th text="Statut">Statut</th>
					</div>

				</div>
			</thead>
			<tbody>

				<tr th:each="cdu : ${listCdu}">
					<td>
						<span th:if="@{'/image/'+ *{cdu.ccs.ccs_ID}}">

							<img id="img" src="#" th:src="@{'/image/'+ *{cdu.ccs.ccs_ID}}" alt="Concours image"
								height="50" />
						</span>
						<span th:unless="@{'/image/'+ *{ccs_ID}}"></span>
					</td>

					<td th:text="${cdu.ccs.nom_ccs}"></td>
					</td>

					<td th:text="${cdu.date_transmis}"></td>

					<td>
						<span th:if="${cdu.Statut_cdu.statut_ID} &lt; 103" class=" badge badge-pill badge-primary"
							th:text="${cdu.Statut_cdu.nom_statut} "></span>
						<span th:if="${cdu.Statut_cdu.statut_ID} == 104" class=" badge badge-pill badge-warning"
							th:text="${cdu.Statut_cdu.nom_statut} "></span>
						<span th:if="${cdu.Statut_cdu.statut_ID} == 105 or ${cdu.Statut_cdu.statut_ID} == 107"
							class=" badge badge-pill badge-success" th:text="${cdu.Statut_cdu.nom_statut} "></span>
						<span th:if="${cdu.Statut_cdu.statut_ID} == 106 or ${cdu.Statut_cdu.statut_ID} == 108"
							class=" badge badge-pill badge-danger" th:text="${cdu.Statut_cdu.nom_statut} "></span>
					</td>

					<td width="33%">
						<a th:href="@{'/apercu/' + ${cdu.cdu_ID}}" class="btn btn-secondary btn-xs pBtn">Aperçu</a>
						<a th:if="${cdu.Statut_cdu.statut_ID} &lt; 103" th:href="@{'/updateCdu/' + ${cdu.cdu_ID}}"
							class="btn btn-primary btn-xs mBtn">Modifier</a>
						<a th:if="${cdu.Statut_cdu.statut_ID} &lt; 103" th:href="@{'/deleteCdu/' + ${cdu.cdu_ID}}"
							class="btn btn-danger btn-xs dBtn">Suprimer</a>

						<a th:if="${cdu.Statut_cdu.statut_ID} == 105 or ${cdu.Statut_cdu.statut_ID} == 106"
							th:href="@{'/archiver/' + ${cdu.cdu_ID}}" class="btn btn-primary btn-xs">Archiver</a>
					</td>



				</tr>
			</tbody>
		</table>
	</div>
	<div style="display: flex; justify-content: space-around"><a href="/concoursListecadidat"
			class="btn btn-primary btn-xs">Nouvelle Candidature</a></div>
	<div th:replace="common/header :: footer"></div>



	<!-- Modal script for delete Button-->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Suppression de candidature</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Confirmez vous la supression ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
					<a href="" class="btn btn-danger" id="delref">Oui</a>
				</div>
			</div>
		</div>
		<!-- Modal script -->
		<div class="modal fade" id="annuleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Confirmez vous l'anuulation du Concours ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
						<a href="" class="btn btn-danger" id="delref">Oui</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal script for update Button-->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modTitle">Modification de candidature</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body"
						th:text="'Vous pouvez mettre à jour cette candidature avec votre fichier CV actuel. Confirmez vous que vous voulez utiliser '  + ${Candidat.cv}">
						Vous pouvez mettre à jour cette candidature avec votre fichier CV actuel.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
						<a href="" class="btn btn-danger" id="editref">Oui</a>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal script for preview Button-->
		<div th:each="cdu : ${listCdu}" class="modal fade" th:id="'prModal' + ${cdu.cdu_ID}" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="prTitle" th:text="${cdu.cdu_ID}">Aperçu de votre candidature</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" th:text="${Candidat.nom_cda}">
						Vous pouvez mettre à jour cette candidature avec votre fichier CV actuel.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer l'aperçu</button>
					</div>
				</div>
			</div>
		</div>


</body>

</html>