<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1000/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>

<body>
	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<h1>Liste des Concours</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<td><h6 class="d-flex justify-content-center"><a th:href="@{/concoursListecadidat}">Date</a></h6></td>
					<td><h6 class="d-flex justify-content-start"><a th:href="@{/concoursListeCdaSortByNom}">Concours</a></h6></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="concour : ${listConcours}">
					<td class="d-flex justify-content-center" th:text="${#dates.format(concour.date_css, 'dd-MM-yyyy')}">date_css</td>
					<td th:text="${concour.nom_ccs}">nom_ccs</td>
					<td><a th:href="@{'/details/' + ${concour.ccs_ID}}" class="btn btn-primary btn-xs">Details</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="common/header :: footer"></div>
</body>

</html>