<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1000/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>

<body>
	<div th:replace="common/header :: navbar-recruteur"></div>
	<div class="container">
		<h1>Liste des Concours</h1>
		<table class="table">
			<thead>
				<div class="row">
					<div class="col"><h6>Date</h6></div>
					<div class="col"><h6>Concours</h6></div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
			</thead>
			<tbody>
				<tr th:each="concour : ${listConcours}">
					<td th:text="${#dates.format(concour.date_css, 'dd-MM-yyyy')}">date_css</td>
					<td th:text="${concour.nom_ccs}">nom_ccs</td>
					<td>
						<a th:href="@{'/edit/' + ${concour.ccs_ID}}" class="btn btn-success btn-xs">Edit</a>
					</td>
					<td>
						<a th:href="@{'/delete/' + ${concour.ccs_ID}}" class="btn btn-danger btn-xs">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="new">Nouveau Concours</a>
	</div>
	<div th:replace="common/header :: footer"></div>
</body>

</html>