<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1000/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common/header :: header"></head>
	<script>
		$(document).ready().click(function () {
			const input = document.getElementById("imageFile");
			input.addEventListener('change', updateURL);
			function updateURL() {
				const curFiles = input.files;
				if (curFiles.length > 0) {
					for (const file of curFiles) {
						if (validFileType(file)) {
							document.getElementById("image_css").setAttribute('src', URL.createObjectURL(file));
							document.getElementById("image_css").setAttribute('th:src', URL.createObjectURL(file));

							var reader = new FileReader();
							reader.onload = (function (file) {
								return function (e) {
									console.log(e.target.result);
									fdata = new Uint8Array(reader.result);
									console.log(fdata);
									imgtrans = [];

									for (var i = 0, n = window.fdata.length; i < n; i += 3) {
										var a = Array.from(window.fdata.slice(i, i + 3));
										a.push(255);
										imgtrans.push(a);
									}
								};
							})(f);

							reader.readAsArrayBuffer(f);
							document.getElementById("imageFile").setAttribute('th:field', "*{image_css}");
						}
					}
				}
			}

			const fileTypes = [
				"image/jpeg",
				"image/pjpeg",
				"image/png"
			];

			function validFileType(file) {
				return fileTypes.includes(file.type);
			}

		});
	</script>

	<body>
		<div th:replace="common/header :: navbar-recruteur"></div>
		<div class="container">

			<form action="#" th:action="@{'/save/' + ${imgtrans}}" th:object="${concoursDemande}" method="post">
				<div class="container">
					<h1 class="text-uppercase" th:text="*{nom_ccs}"></h1>
					<table class="table-borderless">
						<tr>
							<td>Concours ID :</td>
							<td colspan="2">
								<input type="text" class="form-control" th:field="*{ccs_ID}" readonly="readonly" />
							</td>
						</tr>
						<tr>
							<td>Nom du Concours :</td>
							<td colspan="2">
								<input type="text" class="form-control" th:field="*{nom_ccs}" required />
							</td>
						</tr>
						<tr>
							<td>Date :</td>
							<td colspan="2">
								<input type="date" class="form-control" th:field="*{date_css}" required />
							</td>
						</tr>
						<tr>
							<td>Description :</td>
							<td colspan="2">
								<textarea type="text" height="50" class="form-control" th:field="*{description_ccs}" />
								</td>
						</tr>
						<tr>
							<td>Statut :</td>
							<td colspan="2"><input type="number" class="form-control" th:field="*{statutccs}" min="401" max="403" required/></td>
						</tr>
						<tr>
							<td>Concours créé par :</td>
							<td colspan="2"><input type="text" class="form-control" th:field="*{Recruteur_ID}" required/></td>
						</tr>
						<tr>
							<td>Image :</td>
							<td>
								<img th:id="image_css" th:name="image_css" src="#" th:src="@{'/image/'+ *{ccs_ID}}" alt="Concours image" width="150" height="150"/>
								<input id ="imageFile" type="file" name="files" class="btn btn-default btn-xs" accept=".png, .jpg, .jpeg">
							</td>
						</tr>
						<tr>
							<td></td>
							<td><button id = "svBtn" type="submit" class="btn btn-success btn-xs" >Enregistrer</button></td>
							<td><button type="button" class="btn btn-primary" onclick="window.history.back();">Abandonner les modifications</button></td>
						</tr>
					</table>
				</div>
			</form>
		</div>
	<div th:replace="common/header :: footer"></div>
</body>
</html>