<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1000/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>

<body>
	<div th:replace="common/header :: navbar-recruteur"></div>
	<div class="container">
		
		<form action="#" th:action="@{/save}" th:object="${concours}"
			method="post">
			<div class="container">
		<h1 class="text-uppercase" th:text="*{nom_ccs}"></h1>
			<table class="table-borderless">
				<tr>
					<td>Nom du Concours :</td>
					<td></td>
					<td><input type="text" class="form-control" th:field="*{nom_ccs}" /></td>
				</tr>
				<tr>
					<td>Date :</td>
					<td></td>
					<td><input type="date" class="form-control" th:field="*{date_css}" /></td>
				</tr>
				<tr>
					<td>Description :</td>
					<td></td>
					<td><textarea type="text" height="50" class="form-control" th:field="*{description_ccs}"/></td>
				</tr>
				<tr>
					<td>Statut :</td>
					<td></td>
					<td><input type="text" class="form-control" th:field="*{statut_css}" /></td>
				</tr>
				<tr>
					<td>Concours créé par :</td>
					<td></td>
					<td><input type="text" class="form-control" th:field="*{Recruteur_ID}" /></td>
				</tr>
				<tr>
					<td>Image :</td>
					<td></td>
					<td><img src="#" th:src="@{data:image/bmp;base64,${concoursImage}}" alt="Concours image" width="150" height="150" />
					<input type="file" name="files" class="btn btn-success btn-xs"></td>					
				</tr>
				<tr>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-success btn-xs">Enregistrer</button></td>
					<td><button type="button" class="btn btn-primary" onclick="window.history.back();">Cancel</button></td>
				</tr>
			</table>
			</div>
		</form>

		<div th:replace="common/header :: footer"></div>
	</div>
</body>
</html>