<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1000/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "common/header :: header"></head>
<body>
	<div th:replace="common/header :: navbar-candidat"></div>

	<div class="container" style="background-image:'BgGeekJobs2.jpg';">
				<br/>

		<div style="display: flex; justify-content: space-around">
			<a href="nouveauCandidat" class="btn btn-primary btn-xs">Compléter le Profil</a>
		</div>
		<br/>
		<div style="display: flex; justify-content: space-around">
			<a href="uploadCv" class="btn btn-primary btn-xs">Ajouter un CV</a>
		</div>
				<br/>

		<div style="display: flex; justify-content: space-around">
			<a href="deleteAccount" class="btn btn-danger dBtn">Supprimer le compte</a>
		</div>
	</div>

	<div th:replace="common/header :: footer"></div>
</body>

</html>