<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1000/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common/header :: header"></head>

	<body>
		<div th:replace="common/header :: navbar-recruteur"></div>
		<div class="container">
			<h1>Liste des Candidats</h1>
			<div style="display: flex; justify-content: space-around">
			<table class="table">
				<thead>
					<div class="row">
						<div class="col">
							<h6>Villes</h6>
						</div>
						
					</div>
				</thead>
				<tbody>
					<tr th:each="Ville : ${listVilles}">
					<td th:text="${Ville.ville_nom_reel}">Villes</td>
	
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="common/header :: footer"></div>
	<!-- Modal script -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	
	</div>
</body>

</html>